<component name="Settings" extends="SceneManagerGroup" initialFocus="categoryList">
    <children>
        <Group translation="[10, 80]">
            <Rectangle width="1280" height="720" color="0x0e0e10FF" />
            <!-- Sidebar for categories -->
            <LabelList
                id="categoryList"
                translation="[40, 0]"
                itemSize="[200, 50]"
                vertFocusAnimationStyle="floatingFocus"
                itemSpacing="[0,5]"
                focusedColor="0x9147FFFF"
                />
            <!-- Main settings list for selected category, now closer to the left and with less spacing -->
            <LabelList
                id="settingsMenu"
                translation="[100, 10]"
                itemSize="[400, 50]"
                height="600"
                vertFocusAnimationStyle="floatingFocus"
                itemSpacing="[0,5]"
                focusedColor="0x9147FFFF"
                />
            <!-- Modern card for setting details, moved left for balance -->
            <Rectangle
                id="detailsCard"
                translation="[620, 20]"
                width="600"
                height="400"
                color="0x18181bFF"
                opacity="0.95"
                />
            <LayoutGroup
                translation="[650, 40]"
                id="settingDetail"
                vertAlignment="top"
                horizAlignment="left"
                itemSpacings="[20]"
                >
                <ScrollingLabel font="font:LargeSystemFont" id="settingTitle" maxWidth="560" />
                <Label id="settingDesc" width="560" wrap="true" color="0xC8C8D0FF" />
                <RadioButtonList id="boolSetting" vertFocusAnimationStyle="floatingFocus">
                    <ContentNode role="content">
                        <ContentNode title="Disabled" />
                        <ContentNode title="Enabled" />
                    </ContentNode>
                </RadioButtonList>
            </LayoutGroup>
            <RadioButtonList id="radioSetting" translation="[650, 200]" visible="false"
                inheritParentTransform="false" vertFocusAnimationStyle="floatingFocus" />
        </Group>
    </children>
    <script type="text/brightscript" uri="settings.brs" />
    <script type="text/brightscript" uri="pkg:/source/utils/config.brs" />
</component>